/* VARIABLES */
:root {
  --first-color: #343a40;
  --second-color: #f2f3ff;
  --third-color: #50bdd3;
  --fourth-color: #303b66;
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f2f3ff;
}
/* HEADER STYLES */
.head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--first-color);
}

.main-title-container {
  padding: 0 3vw 0 4vw;
  color: var(--first-color);
  background-color: var(--third-color);
  font-size: 2.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 1vh 0;
  border-radius: 0 50% 50% 0;
}

.nav-container {
  width: 50%;
}

.nav-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--third-color);
  margin-right: 1vw;
  padding: 0 0.4vw;
  text-align: center;
  font-size: 2em;
  border-bottom: var(--third-color) solid 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-links a:hover {
  cursor: pointer;
  color: var(--second-color);
  border-color: var(--second-color);
  animation: link-hover-color .5s;
}

    @keyframes link-hover-color {
        0% {
            color: var(--third-color);
            border-color: var(--third-color);
        }
        100% {
            color: var(--second-color);
            border-color: var(--second-color);
        }
    }

/* HERO IMAGE STYLES */
.hero-img{
    background-image: url(/assets/imgs/keyboard-HERO.jpg);
    height: 32vh;
}

.sub-title-tag{
    position: absolute;
    font-size: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:  .4rem 1rem;
    right: 10vw;
    top: 35vh;
    color: var(--first-color);
    background-color: var(--third-color);
}

  /* MAIN CONTAINER */
  .main-container{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    margin: 5vh auto;
    align-items: flex-end;
  }

  .inner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex: 0 1 90%;
  }

  .main-content{
    padding-left: 3vw;
    border-left: var(--fourth-color) solid 2px;
    flex: 0 0 70%;
  }

/* MAIN TITLES */
.main-titles{
  font-size: 3rem;
  text-align: end;
  color: var(--fourth-color);
  padding-right: .8vw;
  padding-bottom: 2.5vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-self: flex-start;
  flex-basis: 15%;
}

.main-titles h3{
  text-align: right;
}

/* ABOUT ME STYLES */
.about-me-text{
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

/* WORK STYLES */

.wrapper{
  display: grid;
  grid-template-columns: repeat(2, 27vw);
  gap: 1vw;
}

.item{
  height : 30vh;
  position: relative;
  border: var(--third-color) solid 5px;
  text-decoration: none;
}

.item1{
  grid-column: 1/3;
  height: 45vh;
  background-image: url(/assets/imgs/runbuddy-screen-shot.png);
  background-size:cover;
}

.item2{
  background-image: url(/assets/imgs/wordlog-image.jpg);
}

.item-placeholder{
  background-image: url(/assets/imgs/placeholder.png);
  background-size: contain;
}

.hover-imgs:hover{
  opacity: .7;
}

.sub-tag{
  position: relative;
  top: 80%;
  left: 0%;
  width: fit-content;
  padding: .5vh 1vw;
  background-color: var(--third-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--fourth-color);
}

.sub-tag-small{
  position: relative;
  top: 65%;
  width: fit-content;
  padding: .5vh 1vw;
  background-color: var(--third-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--fourth-color);
}

.sub-tag h4{
  font-size: 1.3rem;
}

/* CONTACT STYLES */
.contact-links-list{
  padding-left: 1vw;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 2.5vh 0;
  gap: 2.7vw;
}

.contact-links a{
  text-decoration: none;
  color: var(--fourth-color);
  font-size: 1.5rem;
  text-transform: capitalize;
  border-bottom: var(--fourth-color) solid 2px;
}

.contact-links a:hover{
  border: none;
}