/* VARIABLES */
:root {
  --first-color: #343a40;
  --second-color: #f2f3ff;
  --third-color: #50bdd3;
  --fourth-color: #303b66;
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER STYLES */
.head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--first-color);
}

.main-title-container {
  padding: 0 3vw 0 4vw;
  color: var(--first-color);
  background-color: var(--third-color);
  font-size: 2.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 1vh 0;
  border-radius: 0 50% 50% 0;
}

.nav-container {
  width: 50%;
}

.nav-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--third-color);
  margin-right: 1vw;
  padding: 0 0.4vw;
  text-align: center;
  font-size: 2em;
  border-bottom: var(--third-color) solid 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-links a:hover {
  cursor: pointer;
  color: var(--second-color);
  border-color: var(--second-color);
  animation: link-hover-color .5s;
}

    @keyframes link-hover-color {
        0% {
            color: var(--third-color);
            border-color: var(--third-color);
        }
        100% {
            color: var(--second-color);
            border-color: var(--second-color);
        }
    }

/* HERO IMAGE STYLES */
.hero-img{
    background-image: url(/assets/imgs/keyboard-HERO.jpg);
    height: 32vh;
}

.sub-title-tag{
    position: absolute;
    font-size: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:  .4rem 1rem;
    right: 10vw;
    top: 35vh;
    color: var(--first-color);
    background-color: var(--third-color);
}

/* MAIN STYLES */
.main-container{
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
  margin-left: 25vw;
  margin-right: 5vw;
}

/* MAIN ABOUT ME */
.about-me{
  display: flex;
}

.main-titles{
  font-size: 3rem;
  text-align: right;
  color: var(--fourth-color);
  padding-right: .8vw;
  padding-bottom: 2.5vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-me-text-container p{
  margin-bottom: 2vh;
  font-size: 1.1rem;
  line-height: 1.3;
}

.about-me-text-container{
  border-left: var(--fourth-color) solid 3px;
  padding-left: 1vw;
}
/* MAIN WORK */
